{% extends "base.html" %}

{% block body %}
<h2 style="margin-top: 50px; margin-bottom: 100px;">إضافة خبرة جديدة</h2>
<form method="post" class="add-experience-form">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_company">الشركة:</label>
        {{ form.company }}
    </div>
    <div class="form-group">
        <label for="id_from_date">من تاريخ:</label>
        {{ form.from_date }}
    </div>
    <div class="form-group">
        <label for="id_to_date">إلى تاريخ:</label>
        {{ form.to_date }}
    </div>
    <div class="form-group">
        <label for="id_position">المنصب:</label>
        {{ form.position }}
    </div>
    <div class="form-group">
        <label for="id_projects_worked_name">اسم المشروع:</label>
        {{ form.projects_worked_name }}
    </div>
    <div class="form-group">
        <label for="id_projects_worked_url">رابط المشروع:</label>
        {{ form.projects_worked_url }}
    </div>
    <div class="form-group">
        <label for="id_description">الوصف:</label>
        {{ form.description }}
    </div>
    <button type="submit" class="btn btn-success">إضافة الخبرة</button>
</form>
{% endblock %}