{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="login-area">
    <div class="login-wrapper">
        <div class="login-left">
            <a href="index.html" class="logo"><img src="{% static 'img/home/favicon.ico' %}" alt="logo" /></a>
            <h2 class="title">تسجيل الدخول إلى حسابك</h2>
            <div class="sibtitle">اهلا بك في مكتبة مصر العالي للحاسبات والمعلومات بالمنصوره!</div>
    <form method="post" class="text-end">
        {% csrf_token %}
        {{ form.as_p }}
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <div class="text-center">
        <button type="submit" class="btn text-center" style="background:rgba(0, 70, 88, 0.78);">تسجيل الدخول</button>
        </div>
    </form>
    </div>
</div>
</div>
{% endblock %}