
{% extends "base.html" %}
{% load static %} 

{% block body %}

        <!-- breadcrumb area  -->
        <section class="bj_breadcrumb_area text-center banner_animation_03" data-bg-color="#f5f5f5">
            <div class="bg_one" data-bg-image="{% static 'img/breadcrumb/breadcrumb_banner_bg.png' %}"></div>
            <div class="bd_shape one wow fadeInDown layer" data-wow-delay="0.3s" data-depth="0.5"><img data-parallax='{"y": -50}' src="{% static 'img/breadcrumb/book_left1.png' %}" alt="">
            </div>
            <div class="bd_shape two wow fadeInUp layer" data-depth="0.6" data-wow-delay="0.4s"><img data-parallax='{"y": 30}' src="{% static 'img/breadcrumb/book-left2.png' %}" alt="">
            </div>
            <div class="bd_shape three wow fadeInDown layer" data-wow-delay="0.3s" data-depth="0.5"><img data-parallax='{"y": -50}' src="{% static 'img/breadcrumb/plane-1.png' %}" alt="">
            </div>
            <div class="bd_shape four wow fadeInUp layer" data-depth="0.6" data-wow-delay="0.4s"><img data-parallax='{"y": 30}' src="{% static 'img/breadcrumb/plan-3.png' %}" alt="">
            </div>
            <div class="bd_shape five wow fadeInUp layer" data-depth="0.6" data-wow-delay="0.4s"><img data-parallax='{"y": 80}' src="{% static 'img/breadcrumb/plan-2.png' %}" alt="">
            </div>
            <div class="bd_shape six wow fadeInDown layer" data-wow-delay="0.3s" data-depth="0.5"><img data-parallax='{"y": -60}' src="{% static 'img/breadcrumb/book-right.png' %}" alt="">
            </div>
            <div class="bd_shape seven wow fadeInUp layer" data-depth="0.6" data-wow-delay="0.4s"><img data-parallax='{"x": 50}' src="{% static 'img/breadcrumb/book-right2.png' %}" alt="">
            </div>
            <div class="container">
                <h2 class="title wow fadeInUp" data-wow-delay="0.2s">Project Graduation</h2>
                <ol class="breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.3s">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Shop Sidebar</li>
                </ol>
            </div>
        </section>
        <!-- breadcrumb area  -->


        <!-- shop area  -->
        <section class="bj_shop_area sec_padding" data-bg-color="#f5f5f5">
            <div class="container">
                <div class="row">



                        <!-- Search Input -->
                        <form role="search" method="get" class="pr_search_form input-group" action="#">
                            <input type="text" 
                                   name="q" 
                                   class="form-control search-field" 
                                   id="searchInput" 
                                   placeholder="Search off book store.."
                                   hx-get="{% url 'project:ProjectList' %}"
                                   hx-target="#project-list"
                                   hx-trigger="keyup changed delay:500ms"
                                   value="{{ request.GET.q|default:'' }}">
                            <button type="submit"><i class="ti-search"></i></button>
                        </form>
                        <!-- Container to display search results -->

                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        
                       
            

                        <div class="shop_top d-flex align-items-center justify-content-between">
                            <div class="shop_menu_left">
                                Available Books  : {{projects_count }}  
                                <br>  
                                count Pagination : {{projects|length}}
                            </div>
                          
                            <div class="row">


                            <div class="shop_menu_right d-flex align-items-center justify-content-end">
                                Sort by
                                <form class="woocommerce-ordering" method="get">
                                    <select name="orderby" class="orderby selectpickers" id="sortBy" onchange="sortProjects()">
                                        <option value="menu_order" selected='selected'>Default sorting</option>
                                        <option value="popularity">Sort by popularity</option>
                                        <option value="rating">Sort by average rating</option>
                                        <option value="date">Sort by latest</option>
                                        <option value="price">Sort by price: low to high based likes</option>
                                        <option value="price-desc">Sort by price: high to low based linebreaksbr</option>
                                    </select>
                                </form>
                            </div>
                            </div>

                        </div>
                        <div class="row">





               <!-- Include HTMX in your base template -->

               <div class="row">
                <!-- Sidebar for Filters -->
                <div class="col-lg-3">
                    <div class="shop_sidebar">
                        <!-- Category Filter -->
                        <div class="widget shop_category_widget">
                            <h4 class="shop_sidebar_title_small"><i class="icon-category-icon"></i>Category</h4>
                            <ul class="list-unstyled shop_category_list">
                                <li>
                                    <a href="#" 
                                       hx-get="{% url 'project:ProjectList' %}?q={{ request.GET.q|default:'' }}&category=all" 
                                       hx-target="#project-list">
                                        All categories
                                    </a>
                                </li>
                                {% for category in categories %}
                                    <li>
                                        <a href="#" 
                                           hx-get="{% url 'project:ProjectList' %}?q={{ request.GET.q|default:'' }}&category={{ category.id }}" 
                                           hx-target="#project-list">
                                            {{ category.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
            
                        <!-- Doctor Filter -->
                        <div class="widget author_widget">
                            <h4 class="shop_sidebar_title_small"><i class="icon-pen"></i>Doctor</h4>
                            <div class="author_choose_list">
                                {% for doctor in doctors %}
                                    <div class="form-check">
                                        <input class="form-check-input" 
                                               type="checkbox" 
                                               name="doctor" 
                                               id="doctor_{{ doctor.user.id }}" 
                                               value="{{ doctor.user.id }}" 
                                               hx-get="{% url 'project:ProjectList' %}?q={{ request.GET.q|default:'' }}&doctor={{ doctor.user.id }}" 
                                               hx-target="#project-list">
                                        <label class="form-check-label" for="doctor_{{ doctor.user.id }}">
                                            {{ doctor.user.get_full_name }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
            
                        <!-- Graduation Year Filter -->
                        <div class="widget price_widget">
                            <h4 class="shop_sidebar_title_small"><i class="icon-price"></i>Graduation Year</h4>
                            <div class="price-filters d-flex justify-content-between">
                                <input type="number" 
                                       id="graduation-year-filter" 
                                       placeholder="Enter year" 
                                       hx-get="{% url 'project:ProjectList' %}?q={{ request.GET.q|default:'' }}" 
                                       hx-target="#project-list" 
                                       hx-trigger="keyup changed delay:500ms" 
                                       name="graduation_year">
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Project List -->
                <div class="col-lg-9">
                    <div class="row">


                        {% comment %} <!-- Search Input -->
                        <form role="search" method="get" class="pr_search_form input-group" action="#">
                            <input type="text" 
                                   name="q" 
                                   class="form-control search-field" 
                                   id="searchInput" 
                                   placeholder="Search off book store.."
                                   hx-get="{% url 'project:ProjectList' %}"
                                   hx-target="#project-list"
                                   hx-trigger="keyup changed delay:500ms"
                                   value="{{ request.GET.q|default:'' }}">
                            <button type="submit"><i class="ti-search"></i></button>
                        </form> {% endcomment %}
            

                        
                        <!-- Search Results -->
                        <div id="project-list">
                            {% include "partials/project_list.html" %}
                        </div>
                    </div>
                </div>
            </div>







                    


                          
                            




                        </div>
                        <div class="text-center">
                            <nav aria-label="Page navigation">
                                <ul class="pagination pagi-content">
                                    <!-- Previous Page Link -->
                                    {% if projects.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ projects.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.doctor %}&doctor={{ request.GET.doctor }}{% endif %}{% if request.GET.graduation_year %}&graduation_year={{ request.GET.graduation_year }}{% endif %}">
                                                <i class="ti-angle-left"></i> Prev
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <span class="page-link"><i class="ti-angle-left"></i> Prev</span>
                                        </li>
                                    {% endif %}
                            
                                    <!-- Show first page and ellipsis if needed -->
                                    {% if projects.number > 4 %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.doctor %}&doctor={{ request.GET.doctor }}{% endif %}{% if request.GET.graduation_year %}&graduation_year={{ request.GET.graduation_year }}{% endif %}">1</a>
                                        </li>
                                        <li class="page-item disabled">
                                            <span class="page-link">...</span>
                                        </li>
                                    {% endif %}
                            
                                    <!-- Show 3 pages to the left and 3 pages to the right of the current page -->
                                    {% for num in projects.paginator.page_range %}
                                        {% if num >= projects.number|add:-3 and num <= projects.number|add:3 %}
                                            {% if projects.number == num %}
                                                <li class="page-item active" aria-current="page">
                                                    <span class="page-link">{{ num }}</span>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.doctor %}&doctor={{ request.GET.doctor }}{% endif %}{% if request.GET.graduation_year %}&graduation_year={{ request.GET.graduation_year }}{% endif %}">
                                                        {{ num }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                            
                                    <!-- Show last page and ellipsis if needed -->
                                    {% if projects.number < projects.paginator.num_pages|add:-3 %}
                                        <li class="page-item disabled">
                                            <span class="page-link">...</span>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ projects.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.doctor %}&doctor={{ request.GET.doctor }}{% endif %}{% if request.GET.graduation_year %}&graduation_year={{ request.GET.graduation_year }}{% endif %}">
                                                {{ projects.paginator.num_pages }}
                                            </a>
                                        </li>
                                    {% endif %}
                            
                                    <!-- Next Page Link -->
                                    {% if projects.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ projects.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.doctor %}&doctor={{ request.GET.doctor }}{% endif %}{% if request.GET.graduation_year %}&graduation_year={{ request.GET.graduation_year }}{% endif %}">
                                                Next <i class="ti-angle-right"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <span class="page-link">Next <i class="ti-angle-right"></i></span>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- shop area  -->






        
        <script>
            function sortProjects() {
                const sortBy = document.getElementById('sortBy').value; // Get the selected sorting option
                const projectList = document.getElementById('project-list'); // Get the container for projects
                const projects = Array.from(projectList.getElementsByClassName('projects_item')); // Get all project items
            
                // Sort the projects based on the selected option
                projects.sort((a, b) => {
                    switch (sortBy) {
                        case 'popularity':
                            const likesA = parseInt(a.querySelector('.book_price').textContent.match(/\d+/)[0]);
                            const likesB = parseInt(b.querySelector('.book_price').textContent.match(/\d+/)[0]);
                            return likesB - likesA; // Sort by likes (descending)
                        case 'rating':
                            const ratingA = parseFloat(a.querySelector('.ratting').textContent);
                            const ratingB = parseFloat(b.querySelector('.ratting').textContent);
                            return ratingB - ratingA; // Sort by rating (descending)
                        case 'date':
                            const dateA = new Date(a.querySelector('.pr_ribbon .product-badge').textContent);
                            const dateB = new Date(b.querySelector('.pr_ribbon .product-badge').textContent);
                            return dateB - dateA; // Sort by date (newest first)
                        case 'price':
                            const priceA = parseFloat(a.querySelector('.book_price').textContent.replace(/[^0-9.]/g, ''));
                            const priceB = parseFloat(b.querySelector('.book_price').textContent.replace(/[^0-9.]/g, ''));
                            return priceA - priceB; // Sort by price (low to high)
                        case 'price-desc':
                            const priceDescA = parseFloat(a.querySelector('.book_price').textContent.replace(/[^0-9.]/g, ''));
                            const priceDescB = parseFloat(b.querySelector('.book_price').textContent.replace(/[^0-9.]/g, ''));
                            return priceDescB - priceDescA; // Sort by price (high to low)
                        default:
                            return 0; // Default sorting (no change)
                    }
                });
            
                // Clear the current project list
                projectList.innerHTML = '';
            
                // Append the sorted projects back to the container
                projects.forEach(project => {
                    projectList.appendChild(project);
                });
            }
            </script>




            

             <!--   search  -->
                        
             <script>
                $(document).ready(function() {
                    $('#searchInput').on('input', function() {
                        const query = $(this).val(); // Get the search query
                        if (query.length >= 2) { // Only search if 2 or more characters are typed
                            $.ajax({
                                url: '{% url "project:ProjectList" %}', // URL to your search view
                                data: {
                                    'q': query
                                },
                                success: function(data) {
                                    $('#searchResults').html(data); // Update the results container
                                }
                            });
                        } else {
                            $('#searchResults').html(''); // Clear results if query is too short
                        }
                    });
                });
                </script>





{% endblock body %}
